body {
  padding-top: 6.1rem;

  @include breakpoint(medium down) {
    padding-top: 4.875rem;
  }
}

.section {
  padding: $small-section-spacing;

  @include breakpoint(medium) {
    padding: $section-spacing 0;
  }

  &.texture--above {
    padding-top: $section-spacing;

    @include breakpoint(medium) {
      padding-top: $lg-section-spacing;
    }
  }

  &.texture--below {
    padding-bottom: $section-spacing;

    @include breakpoint(medium) {
      padding-bottom: $lg-section-spacing;
    }
  }
}

.blog-post {
  font-family: $font-lato;
  margin-top: 2rem;

  @include breakpoint(medium only) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include breakpoint(large only) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  h1 {
    font-weight: $global-weight-semi-bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__share-buttons {

    .a2a_svg, .a2a_count {
      border-radius: 0 !important;
    }

    @include breakpoint(small only) {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      position: static !important;

      a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  &__author {
    text-align: center;

    span {
      color: $blue--bg;
      font-weight: $global-weight-bold;
    }
  }

  &__date {
    text-align: center;
  }

  &__content {
    color: $black;
    margin-top: 2rem;

    &--image {
      margin-bottom: 2rem;
      text-align: center;
    }

    &,
    * {
      font-size: 1.125rem;
      line-height: 2.1;
    }
  }

  .post-categories {
    font-size: 1.125rem;
    font-weight: $global-weight-thin;
    margin-top: 3rem;

    a {
      text-transform: capitalize;
    }

    .space-between {
      margin-left: -0.25rem;
    }
  }

  &__author-block {
    font-family: $font-lato;

    &--container {
      align-items: flex-end;
      border-top: 4px solid $blue--bg;
      margin-bottom: 3rem;
      margin-top: 2rem;
      padding-top: 2.5rem;

      @include breakpoint(small only) {
        margin-top: 1rem;
        padding-top: 2rem;
      }
    }

    &--image {

      @include breakpoint(small only) {
        margin-bottom: 0.5rem;
        text-align: center;
      }

      @include breakpoint(medium up) {
        padding-right: 1rem;
      }
    }

    &--name {
      font-size: 2rem;
      margin-bottom: 2rem;

      @include breakpoint(small only) {
        font-size: 1.6rem;
        text-align: center;
      }
    }

    &--bio {
      font-size: 1.125rem;
    }
  }
}

.page--blog {
  padding-bottom: 2rem;

  @include breakpoint(small only) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  h1 {
    margin-top: 1rem;
    text-align: center;
  }

  .blog-featured-posts {

    @include breakpoint(small only) {
      display: flex;
      overflow-x: scroll;
      flex-flow: initial;
      margin-right: -1.5rem !important;

      .blog-featured-card {
        width: calc(50% + 1.4375rem);
        padding-left: 1.3125rem;
        padding-right: 1.3125rem;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
      }
    }
  }

  .blog-all-posts {
    padding-bottom: 2rem;

    @include breakpoint(small only) {

      .blog-card {
        padding-right: 0.375rem;
        padding-left: 0.375rem;
      }
    }
  }

  > h2 {
    margin: 4rem 0 2rem 0;
    text-align: center;
  }

  .pager {
    font-family: $font-lato;
    list-style-type: none;
    margin: 0 0 1rem 0;
    text-align: center;

    a {
      font-weight: $global-weight-bold;
    }
  }

  .rss-subscribe {
    font-family: $font-lato;
    text-align: center;

    a {
      font-weight: $global-weight-bold;
    }
  }
}

.author-post-item,
.category-post-item {
  margin-bottom: 5rem;
}

.author-post-item {

  h1 {
    margin: 1rem auto 0 auto;

    img {
      border-radius: 100%;
      margin-right: 0.5rem;
      width: 6rem;
    }
  }
}

.category-post-item {

  h1 {
    margin: 1rem auto 3rem auto;
    text-transform: capitalize;
  }
}

.hs-form-iframe {
  width: 100% !important;
}
