{% if page.contact_form %}
<div id="contact-form">
  <div class="contact-form__wrapper padding-top-3 text-center">
    <div class="grid-container">
      <h3>Scale your workforce instantly to meet the needs of your business</h3>
      <!--[if lte IE 8]>
      <script src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script src="//js.hsforms.net/forms/v2.js"></script>
      <script>
      hbspt.forms.create({
      portalId: "7487839",
      formId: "611b47d0-e36f-4a9d-ad66-050e90a37b2e"
      });
      </script>
    </div>
  </div>
</div>
{% endif %}
<footer class="footer u-bg-gray">
  <div class="footertop">
    <div class="grid-container w-clearfix">
      <div class="footertop">
        <div class="footer__logo">
          <a href="/" class="w-logo">
            <img src="/img/esteemed-logo-color.svg" alt="Esteemed logo" class="logo" />
          </a>
        </div>
      </div>
      {% include social-links.html class="hide-for-medium" %}
      <div class="grid-x footerbottom w-clearfix">
        <div class="footerbottom__first cell small-6 large-3">
          <div class="footerbottom__first--content">
            <h6>About</h6>
            <ul>
              <li><a href="/company/">Company</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li><a class="mail" href="mailto:press@esteemed.io">press@esteemed.io</a></li>
            </ul>
          </div>
          {% include social-links.html class="show-for-medium" %}
        </div>
        <div class="footerbottom__second cell small-6 large-3">
          <div class="footerbottom__first--content">
            <h6>Resources</h6>
            <ul>
              <li><a href="/partners/partner-registration/">Partner With Us</a></li>
              <li><a href="https://trello.com/b/kuk5ahtY/esteemed-open-product-roadmap" target="_blank">Open Product Roadmap</a></li>
            </ul>
          </div>
        </div>
        <div class="footerbottom__second cell small-6 large-3">
          <div class="footerbottom__first--content">
            <h6>Platforms</h6>
            <ul>
              <li><a href="https://app.drupalcontractors.com/" target="_blank">Drupal Contractors</a></li>
              <li><a href="https://app.wpcontractors.com/" target="_blank">WP Contractors</a></li>
            </ul>
          </div>
        </div>
        <div class="footerbottom__third cell small-6 large-3">
          <h6>Support</h6>
          <ul>
            <li><a class="mail" href="mailto:support@esteemed.io">support@esteemed.io</a></li>
          </ul>
        </div>
        <div class="footerbottom__forth cell small-6 large-3">
        </div>
      </div>
      <div class="footer__copyright">Copyright&copy; {{ "now" | date: "%Y" }} Esteemed. <a href="/privacy-policy/">Privacy</a> | <a href="/terms-use/">Terms</a> | <a href="/code-of-conduct/">Code of Conduct</a></div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
  window.intercomSettings = {
    app_id: "zrqksojs"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/zrqksojs'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/zrqksojs';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<script src="/js/esteemed.js"></script>
<noscript>
  <img src="https://trc.taboola.com/1323533/log/3/unip?en=page_view" width="0" height="0" style="display:none" alt="Taboola tracking" />
</noscript>
