<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{clear:left; }
  #mc_embed_signup form{padding:0;}
  #mc_embed_signup h2{font-size: 2.1875rem;}
</style>
<div id="mc_embed_signup">
<form action="https://esteemed.us10.list-manage.com/subscribe/post?u=ec5b82da5b213df9999d28215&amp;id=46a52773a0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="grid-container">  
    <div class="grid-x grid-padding-x" id="mc_embed_signup_scroll">
      <div class="align-self-middle cell small-12 large-6 sign-up-text">
        <h2>Keep up with <i>The Star</i></h2>
        <div class="sign-up-subtitle">Stay up to date. Learn what it takes to achieve and maintain career stardom with posts from your Esteemed colleagues.</div>
        <div class="input-mobile-wrapper">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ec5b82da5b213df9999d28215_46a52773a0" tabindex="-1" value=""></div>
          <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button></div>
        </div>
      </div>
      <div class="align-self-bottom cell small-12 large-6 sign-up-image">
        <img src="/img/sign-up-image.png" alt="" class="logo" />
      </div>
    </div>
  </div>
</form>
</div>
<!--End mc_embed_signup-->
