<div class="footerbottom__social {{ include.class }}">
  <a href="https://www.facebook.com/Esteemed-106526290944059/" class="footerbottom__social-icon" target="_blank"><img src="/img/facebook.svg" alt="Esteemed Facebook"><span class="show-for-sr">Facebook</span></a>
  <a href="https://www.instagram.com/esteemed_inc/" class="footerbottom__social-icon" target="_blank"><img src="/img/instagram.svg" alt="Esteemed Instagram"><span class="show-for-sr">Instagram</span></a>
  <a href="https://twitter.com/EsteemedTalent" class="footerbottom__social-icon" target="_blank"><img src="/img/twitter.svg" alt="Esteemed Twitter"><span class="show-for-sr">Twitter</span></a>
  <a href="https://www.linkedin.com/company/esteemed/" class="footerbottom__social-icon" target="_blank"><img src="/img/linkedin.svg" alt="Esteemed LinkedIn"><span class="show-for-sr">LinkedIn</span></a>
  <a href="mailto:{{ site.email }}" class="footerbottom__social-icon" target="_blank"><img src="/img/email.svg" alt="Esteemed Email"><span class="show-for-sr">Email</span></a>
</div>
