$yellow: #E5C248;
$mailchimp-background-input: #f5f8fa;
$mailchimp-blue: #475aa3;

$half-spacing: 0.5em;
$spacing: 1em;
$double-spacing: 2em;

$small-section-spacing: rem-calc(30);
$section-spacing: rem-calc(60);
$lg-section-spacing: rem-calc(90);

$font-lato: 'Lato', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-satisfy: 'Satisfy', cursive;
$font-georgia: 'Georgia';
