---
layout: default
---

<div class="grid-container category-post-item">
  <div class="grid-x align-top">
    <h1 class="u-text-bold main-title text-center">{{ page.autopage.display_name }} Posts</h1>
  </div>

  <div class="blog-categories">
    <a href="/blog/">All posts</a>
    {% for category_element in site.categories %}
    <a {% if category_element[0] == page.autopage.display_name %}class="active" {% endif %}href="/blog/category/{{ category_element | first | downcase }}/">{{ category_element | first | downcase }}</a>
    {% endfor %}
  </div>

  <div class="grid-x align-top grid-padding-x blog-all-posts">
    {% for post in paginator.posts %}
    {% assign author = site.data.authors[post.author] %}
    <a href="{{ post.url }}" class="blog-card cell small-6 medium-4">
      <div class="blog-card__wrapper">
        {% if post.image %}
          <div class="blog-card__wrapper--image" style="{% if post.color_overlay %}background-color:{{ post.color_overlay }}; background-blend-mode: multiply; {% endif %} background-image: url('{{ post.image }}'); background-size: cover;">
          </div>
        {% else %}
          <div class="blog-card__wrapper--image" style="{% if featured_post.color_overlay %}background-color:{{ post.color_overlay }}; background-blend-mode: multiply; {% endif %} background-image: url('/img/blog-performance.jpg'); background-size: cover;">
          </div>
        {% endif %}
        <div class="blog-card__bottom">
          <h2>{{ post.title }}</h2>
          <div class="blog-card__bottom--author">{{ author.name }}</div>
          <div class="blog-card__bottom--date-categories">
            <span class="blog-card__bottom--date">{{ post.date | date: "%b %d, %Y" }}</span>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
